Repository warrensbox/terraform-switcher, pull requests merged in 2024-04, with the labels that each got.

#352 Fix/refactor deployment
  .github/workflows/release.yml
Labels: bug, enhancement

#353 feat: Build statically linked binaries
  .github/workflows/build.yml
  .github/workflows/release.yml
  .goreleaser.yml
Labels: enhancement

#350 Logging refactoring
  go.mod
  go.sum
  lib/common.go
  lib/defaults.go
  lib/dir_perm_windows.go
  lib/download.go
  lib/download_test.go
  lib/files.go
  lib/files_test.go
  lib/install.go
  lib/list_versions.go
  lib/list_versions_test.go
  lib/logging.go
  lib/semver.go
  lib/symlink.go
  lib/symlink_test.go
  main.go
Labels: enhancement

#359 docs: Actualize CHANGELOG
  CHANGELOG.md
Labels: documentation, enhancement

#363 bugfix: Fix Fatal logger calls by force exit
  lib/defaults.go
  lib/download_test.go
  lib/files.go
  lib/files_test.go
  lib/install.go
  lib/symlink_test.go
  main.go
Labels: bug

#334 Checksum check for TF Binaries
  .gitattributes
  README.md
  go.mod
  go.sum
  lib/checksum.go
  lib/checksum_test.go
  lib/defaults.go
  lib/download.go
  lib/download_test.go
  lib/install.go
  lib/utils.go
  main.go
  test-data/checksum-check-file
  test-data/terraform_1.7.5_SHA256SUMS
Labels: new feature

#368 feat: Add `CODEOWNERS` file
  .github/CODEOWNERS
Labels: enhancement

#360 Release Workflow fix
  .github/workflows/release.yml
Labels: enhancement

#356 Refactor parameter parsing
  .github/workflows/build.yml
  go.mod
  go.sum
  lib/checksum.go
  lib/checksum_test.go
  lib/common.go
  lib/defaults.go
  lib/download.go
  lib/download_test.go
  lib/files.go
  lib/files_test.go
  lib/install.go
  lib/install_test.go
  lib/list_versions.go
  lib/list_versions_test.go
  lib/logging.go
  lib/param_parsing/environment.go
  lib/param_parsing/environment_test.go
  lib/param_parsing/parameters.go
  lib/param_parsing/parameters_test.go
  lib/param_parsing/terraform_version.go
  lib/param_parsing/terraform_version_test.go
  lib/param_parsing/terragrunt.go
  lib/param_parsing/terragrunt_test.go
  lib/param_parsing/tfswitch.go
  lib/param_parsing/tfswitch_test.go
  lib/param_parsing/toml.go
  lib/param_parsing/toml_test.go
  lib/param_parsing/versiontf.go
  lib/param_parsing/versiontf_test.go
  lib/semver.go
  lib/symlink.go
  lib/symlink_test.go
  lib/utils.go
  main.go
  main_test.go
  test-data/integration-tests/test_precedence/.terraform-version
  test-data/integration-tests/test_precedence/.tfswitch.toml
  test-data/integration-tests/test_precedence/.tfswitchrc
  test-data/integration-tests/test_precedence/terragrunt.hcl
  test-data/integration-tests/test_terraform-version/.terraform-version
  test-data/integration-tests/test_terragrunt_hcl/terragrunt.hcl
  test-data/integration-tests/test_tfswitchrc/.tfswitchrc
  test-data/integration-tests/test_tfswitchtoml/.tfswitch.toml
  test-data/integration-tests/test_versiontf/version.tf
  test-data/skip-integration-tests/test_no_file/dummy_file
  test-data/skip-integration-tests/test_terragrunt_error_hcl/terragrunt.hcl
  test-data/skip-integration-tests/test_tfswitchtoml_error/.tfswitch.toml
  test-data/skip-integration-tests/test_versiontf_error/version.tf
  test-data/skip-integration-tests/test_versiontf_non_existent/version.tf
  test-data/test_terragrunt_hcl/terragrunt.hcl
  test-data/test_tfswitchtoml/.tfswitch.toml
Labels: enhancement

#309 Feature: Add flag for install location (optional)
  README.md
  lib/common.go
  lib/defaults.go
  lib/files.go
  lib/install.go
  lib/list_versions.go
  lib/param_parsing/parameters.go
  lib/symlink.go
  main.go
  www/docs/usage/ci-cd.md
  www/docs/usage/commandline.md
  www/docs/usage/config-files.md
  www/docs/usage/general.md
Labels: enhancement

#362 feat: Support multiple TF version constraints from module and improve logging
  lib/param_parsing/parameters.go
  lib/param_parsing/versiontf.go
  lib/param_parsing/versiontf_test.go
  lib/semver.go
  test-data/integration-tests/test_versiontf/version.tf
  test-data/skip-integration-tests/test_versiontf_non_matching_constraints/version.tf
Labels: enhancement

#386 docs(v1.1.0): Update CHANGELOG
  CHANGELOG.md
Labels: documentation, release

#395 this fixes issue #394
  install.sh
Labels: bug

#396 rm snapcraft
  snapcraft.yaml
Labels: depreciated

#405 fix: Adjust `install.sh` for new tagging format
  install.sh
Labels: bug, enhancement, installation

#409 Fix terragrunt parsing
  lib/param_parsing/terragrunt.go
  lib/param_parsing/terragrunt_test.go
  test-data/integration-tests/test_terragrunt_hcl/terragrunt.hcl
Labels: bug

#416 154 feature request option to dry run
  lib/download.go
  lib/download_test.go
  lib/files.go
  lib/install.go
  lib/param_parsing/parameters.go
  lib/param_parsing/parameters_test.go
  main.go
Labels: new feature
