Repository warrensbox/terraform-switcher, pull requests merged in 2024-07, with the labels that each got.

#479 docs: Update CHANGELOG with `v1.2.0-alpha2`
  CHANGELOG.md
Labels: documentation

#472 docs: Add `gh-changelog` config and `CHANGELOG.howto.md` + release changelog config
  .changelog.yml
  .github/release.yml
  CHANGELOG.howto.md
Labels: documentation

#483 default: Fix default binary symlink name for Opentofu to be tofu.exe, rather than terraform.exe
  lib/defaults.go
  lib/param_parsing/parameters.go
Labels: enhancement

#486 chore: Add Multi Labeler workflow
  .github/labeler.yml
  .github/release.yml
  .github/workflows/multi-labeler.yml
Labels: chore

#484 docs: Update CHANGELOG with `v1.2.0` and `v1.2.1`
  .goreleaser.yml
  CHANGELOG.md
Labels: documentation

#489 chore: Ignore `/CHANGELOG.md.new` file
  .gitignore
Labels: automerge, chore

#487 Updated CHANGELOG
  CHANGELOG.md
Labels: documentation

#492 docs: Adjust version definition order of precedence
  www/docs/usage/general.md
Labels: documentation

#494 fix: Improve wording when installing binary
  lib/symlink.go
Labels: enhancement
